@import 'tailwindcss';
@variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #43c6e7;
    --color-secondary: #1a475f;
    --color-tertiary: #011328;
    --color-grey: #484b4c;
    --color-snow: #dfebeb;
    --color-success: #418263;
    --color-danger: #b63f3f;
    --color-warning: #ff9800;
}


